@import url("fonts.css");

@import url("reset.css");

body{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #7D7D7D;
}
footer{
    background-color: #37393F;
    color: #fff;
}
.header-container,
.footer-container{
    max-width: 1218px;
    margin: 0 auto;
    padding: 0 15px;
}
.header-container {
    padding-top: 40px;
    border-bottom: 1px solid #7D7D7D;
    /* font-size: 16px; */
}
.logo,
.position,
.navigation-menu,
.menu-item,
.contact-menu,
.contact-menu li{
    display: inline-block;
}
.logo,
.menu-item{
    margin-bottom: 40px;    
}

.logo{
    margin-right: 460px;
    /* margin-right: 50px; */
}
.logo img{
    margin-right: 4px;
}
.logo a{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-size: 25px;
    color: #37393F;
}
footer .logo a{
    color: #fff;
}
.logo span{
    font-weight: 700;
    color: #6B77E5
} 

.sub-menu{
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    position: absolute;
    overflow: hidden;
    background-color:    rgb(250, 250, 250);
    box-shadow: 
        25px 25px 100px rgba(13, 38, 79, 0.16),
        -25px -25px 45px rgba(255, 255, 255, 0.25);
    width: 160px;
    padding: 15px;
    margin-left: -5px;
    border-radius: 10px;
}
.sub-menu li:not(:last-child){
    margin-bottom: 20px;
}

.menu-item:first-child:hover a:not(:last-child){
    margin-bottom: 5px;
}
.menu-item:first-child:hover .sub-menu{
    visibility: visible;
    opacity: 1;
    
}


.menu-item {
    color: #37393F;
    margin-right: 50px;
}
.menu-item:nth-child(2) a:hover,
.menu-subitem a:hover{
    text-decoration: underline;
}
.menu-item:nth-child(2) a:active,
.menu-subitem a:active{
    /* color: #ccc8c8; */
    color: #8c96f0;
}
.menu-subitem a:visited{
    color: #9ab3ab;
    /* color: #8c96f0; */
}

.menu-item.button{
    vertical-align: top;
    margin-top: -22.5px;
    margin-bottom: 13px;
    margin-right: 0;
}



.footer-container {
    padding: 100px 0 70px;
}

.contact-menu{
    padding-left: 50px;
}
.contact-menu li{
    vertical-align: middle;
    margin-right: 40px;
}
.contact-menu > img{
    width: 20px;
}

main [class*="-container"]{
    /* padding: 0 15px; */
    /* margin: 100px auto 150px; */
    margin: 0 auto;
}

#management,
#business,
#work,
#jewelry,
#practice,
#game{
    display: none;
}
#management:target,
#business:target,
#work:target,
#jewelry:target,
#practice:target,
#game:target{
    display: block;
}
/* ====================== NAVIGATION ====================== */
.navigation-container {
    max-width: 722px;
    padding: 0 15px;
    padding: 100px 15px;
    
}
.navigation-title {
    font-size: 30px;
}
/* ====================== MANAGEMENT ====================== */
.management-container{
    max-width: 722px;
    padding: 100px 15px 0;
    margin-bottom: 150px;
}
[class*="title"]{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.27;
    color: #37393F;
}
.management-title {
    font-size: 30px;
    text-transform: capitalize;
    margin-bottom: 13px;
}
.text {
    line-height: 1.46;
    margin-bottom: 40px;
}
.text p:not(:last-child){
    margin-bottom: 26px;
}
.sub-title {
    font-size: 20px;
    color: #6B77E5;
    margin-bottom: 12px;
}
.management-container .benefits-container{
    font-size: 0;
    vertical-align: top;
    /* margin-bottom: 50px;    */
    margin-bottom: 50px;
}
.benefits-image {
    display: inline-block;
    max-width: 331px;
    margin-right: 29px;
}
.benefits-image img{
    max-width: 100%;
}
.benefits-block {
    display: inline-block;
    vertical-align: top;
    max-width: 332px;
}
.benefits-title {
    font-size: 25px;
    margin-bottom: 15px;
}
.benefits-block .sub-title{
    color: #40DDB6;
    margin-bottom: 21px;
}
.list__item {
    font-size: 18px;
    display: inline-block;
    padding-left: 35px;
}
.list__item:not(:last-child){
    margin-bottom: 30px;
}
.list__item::before,
.about-item .sub-title::before{
    content: "";
    background: url("../img/checkmark.svg") left / cover no-repeat;
    width: 27px;
    height: 27px;
    display: inline-block;
    vertical-align: middle;
}
.list__item::before{
    content: "";
    margin-left: -35px;
    margin-right: 8px;
}
.benefits-container ~ .text{
    margin-bottom: 0;
}
/* ====================== BUSINESS ====================== */
.business-container{
    max-width: 705px;
    padding: 100px 15px;
}
.business-container .title-block {
    max-width: 414px;
    margin-bottom: 10px;
}
.small {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    padding-left: 17px;
    margin-bottom: 16px;
}
.small::before{
    content: "";
    background-color: #40DDB6;
    width: 12px;
    height: 12px;
    display: inline-block;
    margin-right: 5px;
    margin-left: -17px;
}
.title {
    font-weight: 700;
    font-size: 40px;
    line-height: 1.21;
    text-transform: capitalize;
}
.title-block ~ .text{
    margin-bottom: 48px;
}
.about-list {
    margin-bottom: 48px;
}
.about-item {
    border: 1px solid #E3E3E3;
    padding: 28px 41px 28px 38px ;
}
.about-item .sub-title{
   color: #37393F;
   text-transform: capitalize;
   padding-left: 46px;
   margin-bottom: 12px;
}
.about-item .sub-title::before{
    content: "";
    margin-right: 19px;
    margin-left: -46px;
}
.about-item:not(:last-child){
    margin-bottom: 31px;
}
.about-item p{
    padding-left: 46px;
}
.button.special{
    width: 200px;
    min-height: 65px;
    position: relative;
    overflow: hidden;
}

.button.special a{
    width: 200px;
    min-height: 65px;
    padding: 22.5px 35px;
    font-weight: 600;
    color: #fff;
    line-height: 1.25;
    text-transform: capitalize;
    text-align: center;
    transition: all 0.3s;
}
.button.special a::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #6B77E5;
    transform: translate(0px, 0px);
    transition: all 0.5s;
    z-index: -1;
}
.button.special:hover{
    outline: 1px solid #6B77E5;
}
.button.special a:hover{
    color: #6B77E5;
}
.button.special a:hover::after{
    transform: translate(100%, 0px);
    opacity: 1;
}


/* ====================== WORK ====================== */
.work-container {
    max-width: 1250px;
    padding: 100px 15px 0;
    
}
.work-container .title-block {
    text-align: center;
    margin-bottom: 77px;
}
.work-list {
    font-size: 0;
    vertical-align: top;
}
.work-item {
    display: inline-block;
    max-width: 386px;
    background-color: #F4F4F4;
    text-align: center;
    padding: 58px 43px;
}
.work-item:not(:last-child){
    margin-bottom: 72px;
    margin-right: 31px;
}
.work-item::before{
    content: "";
    display: block;
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: -94px 114px 22px;
}
.work-item:first-child::before{
    content: "";
    background: url("../img/icon_1.png") center/ cover no-repeat;
}
.work-item:nth-child(2)::before{
    content: "";
    background: url("../img/icon_2.png") center/ cover no-repeat;
}
.work-item:last-child::before{
    content: "";
    background: url("../img/icon_3.png") center/ cover no-repeat;
}

.work-title {
    font-size: 25px;
    margin-bottom: 16px;
}
.work-item p,
.work-item .link {
    font-size: 18px;
}
.work-item p:not(:last-child),
.work-item .link:not(:last-child){
    margin-bottom: 37px;
}
.work-item .link{
    color: #6B77E5;
    font-weight: 600;
}
.work-item .link a:hover{
    text-decoration: underline;
    color: #5a63b4;
}

/* ====================== JEWELRY ====================== */

.jewelry-container {
    max-width: 1244px;
    padding: 50px 15px 0;
    font-size: 0;
}
.jewelry-container .title,
.item-card .sub-title,
.jewelry-title{
    font-family: "Cormorant Infant", serif;
    font-weight: 700;
    color: #000;
}
.jewelry-container .title {
    font-size: 60px;
    line-height: 1.15;
    text-transform: capitalize;
    max-width: 481px;
    display: inline-block;
    padding-top: 150px;
}
.jewelry-container .title::after{
    content: "";
    display: block;
    margin-top: 10px;
    height: 3px;
    width: 304px;
    background-color: #78473B;
    transition: width 0.9s ease;
}
.jewelry-container .title:hover::after{
    width: 0;
}
.jewelry-title {
    font-size: 46px;
    line-height: 1.13;
    display: inline-block;
    max-width: 339px;
}
.item-card {
    display: inline-block;
    vertical-align: top;
    max-width: 344px;
    transition: all 0.5s;
}
.item-card:not(:last-child){
    margin-right: 45px;
}
.item-card:first-of-type{
    padding-top: 32px;
}
.item-card a{
    transition: all 0.5s;
}
.item-card a:hover{
    transform: scale(0.9);
}
.item-card .image{
    display: inline-block;
    max-width: 334px;
    max-height: 381px;
    margin-bottom: 34px;
    border: 1px solid #000;
    
}
.image img{
    padding-top: 9px;
    margin-left: 10px;

}
.item-card .sub-title {
    font-size: 24px;
    line-height: 1.4;
}
.item-card .sub-title:not(:last-child){
    margin-bottom: 4px;
}
.item-card:hover .sub-title{
    text-decoration: underline;
}
.item-card:active .sub-title{
    color: #78473B;
}
.item-card:active .image{
    border: 1px solid #78473B;
}

/* ====================== PRACTICE ====================== */

.practice-container {
    max-width: 1218px;
    padding: 100px 15px 0;
}
.hover-example .button{
    width: 200px;
    min-height: 65px;
    margin-bottom: 20px;
}
.hover-example .button a{
    width: 200px;
    min-height: 65px;
    background-color: #6B77E5;
    padding: 22.5px 35px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    line-height: 1.25;
    text-transform: capitalize;
    text-align: center;
}
.hover-example .button:not(:nth-child(3)) a:focus{
    outline: 5px solid #40DDB6;     
}
.first a:hover{
    outline: 1px solid #6B77E5;
    background-color: #fff;
    color: #6B77E5;
}
.first a:active{
    outline: 3px solid #6B77E5;
}
.first a:visited{
    color: #ffd7d7;
}
.first a:visited:hover{
    color: #fd8888;
    outline: 1px solid #fd8888;
}
.second:hover{
    border-radius: 20px;
}
.second a:hover{
    border-radius: 17px;
    background-color: #5862b9;
    transition: all 0.5s;
}
.second a:active{
    color: #5862b9;
    background-color: #fff;
    border: 1px solid #5862b9;
}
.second a:visited{
    background-color: #fd8888;
}
.second a:visited:hover{
    color: #fd8888;
    background-color: #ffd7d7;
}
.third a{
    border-radius: 17px;
    box-shadow: 1px 5px #5862b9, -1px 5px #5862b9,
    1px 0 #5862b9, -1px 0 #5862b9;
}
.third:hover{
    margin-top: -5px;
    margin-bottom: 25px;
    /* transition: all 0.3s; */
}
.third a:hover{
    box-shadow: 1px 10px #5862b9, -1px 10px #5862b9,
    1px 0 #5862b9, -1px 0 #5862b9;
}
.third:active{
    margin-top: 0;
    margin-bottom: 20px;
}
.third a:active{
    box-shadow: 1px 5px #5862b9, -1px 5px #5862b9,
    1px 0 #5862b9, -1px 0 #5862b9;
}
.third a:visited{
    color: #ffd7d7;
}
.third a:visited:hover{
    color: #fd8888;
}

.fourth.button a{
    padding: 22.5px 30px;
    text-align: left;
    position: relative;
    overflow: hidden;
    transition: all 0.3s;
}
.fourth a::before{
    content: "";
    position: absolute;
    background: url("../img/arrow-right-white.png") left / cover no-repeat;
    display: inline-block;
    width: 20px;
    height: 15px;
    top: 25px;
    left: -20px;
    transition: all 0.3s;
    transform: translate(0px, 0px)
}
.fourth a::after{
    content: "";
    position: absolute;
    display: inline-block;
    background: url("../img/arrow-right-white.png") right / cover no-repeat;
    width: 20px;
    height: 15px;
    top: 25px;
    left: 155px;
    transition: all 0.3s;
    transform: translate(0px, 0px)
}

.fourth a:hover{
    padding-left: 50px;
}
.fourth a:hover::before{
    content: "";
    transform: translate(40px, 0px);
}
.fourth a:hover::after{
    content: "";
    transform: translate(50px, 0px);
}

.fourth a:visited{
    color: #ffd7d7;
}
/* .fourth a:visited::before{
    content: "";
    background: url("../img/arrow-right-pink.png") left / cover no-repeat;
}
.fourth a:visited::after{
    content: "";
    background: url("../img/arrow-right-pink.png") right / cover no-repeat;
} */




/* ====================== GAME ====================== */

.game-container {
    max-width: 722px;
    padding: 20px 15px 0;
    font-size: 0;
}
.game-title {
    font-size: 30px;
    margin-bottom: 20px;
}
.game-container .text{
    font-size: 16px;
    margin-bottom: 10px;
}
.game-container p:first-child{
    margin-bottom: 5px;
}
.game {
    min-height: 600px;
    background: url("../img/game.png") no-repeat; 
}

[class*="game__line"]{
    display: inline-block;
    /* background-color: #40DDB6; */
    background-color: #d7e5e1;
    /* background-color: #f6fafa; */
    /* background-color:    rgb(246, 236, 236); */
    box-shadow: 
        25px 25px 100px rgba(13, 38, 79, 0.16),
        -25px -25px 45px rgba(255, 255, 255, 0.25);
}

[class*="game__line"]:hover{
    cursor: url("../img/chromium_t-rex-error-offline.png"), auto;
}

.game__line-1 {
    width: 25px;
    height: 54px;
    /* background-color: #d7e5e1; */
}
.game__line-2 {
    width: 290px;
    height: 25px;
}
.game__line-3 {
width: 25px;
height: 50px;
}
.game__line-4 {
    width: 30px;
    height: 25px;
    margin-bottom: 25px;
}
.game__line-5 {
    width: 25px;
    height: 50px;
}
.game__line-6 {
    width: 120px;
    height: 25px;
}
.game__line-7 {
    width: 25px;
    height: 50px;
}
.game__line-8 {
    width: 40px;
    height: 25px;
    margin-bottom: 25px;
}
.game__line-9 {
    width: 25px;
    height: 50px;
}

/* вниз */
.game__line-10 {
    width: 25px;
    height: 83px;
    margin-bottom: -58px;
}
/* начало второй линии */
.game__line-11{
    width: 145px;
    height: 25px;
    margin-left: 460px;
    margin-top: 33px;
}
.game__line-12{
    width: 25px;
    height: 120px;
    margin-left: 460px;
}
.game__line-13{
    width: 140px;
    height: 25px;
    margin-left: -165px;
}
.game__line-14{
    width: 25px;
    height: 50px;
    margin-left: -165px;
}
.game__line-15{
    width: 30px;
    height: 25px;
    margin-bottom: 25px;
    margin-left: -55px;
}
.game__line-16{
    width: 25px;
    height: 50px;
    margin-left: -55px;
}
.game__line-17{
    width: 43px;
    height: 25px;
    margin-left: -68px;
}
.game__line-18{
    width: 25px;
    height: 92px;
    margin-left: -68px;
}
.game__line-19{
    width: 53px;
    height: 25px;
    margin-bottom: 67px;
    margin-left: -78px;
}
.game__line-20{
    width: 25px;
    height: 50px;
    margin-bottom: 67px;
    margin-left: -78px;
}
.game__line-21{
    width: 17px;
    height: 25px;
    margin-bottom: 92px;
    margin-left: -42px;
}
.game__line-22{
    width: 25px;
    height: 50px;
    margin-bottom: 67px;
    margin-left: -42px;
}
.game__line-23{
    width: 39px;
    height: 25px;
    margin-bottom: 67px;
    margin-left: -64px;
}
/* конец второй линии */
/* вниз */
.game__line-24 {
    width: 25px;
    height: 173px;
    margin-left: -39px;
    margin-bottom: -106px;
}

/* начало 3 линии */
.game__line-25 {
    width: 106px;
    height: 25px;
    margin-bottom: -105px;
}
 .game__line-26 {
    width: 25px;
    height: 50px;
    margin-bottom: -105px;
}
    
.game__line-27 {
    width: 30px;
    height: 25px;
    margin-bottom: -80px;
    }
.game__line-28 {
    width: 25px;
    height: 50px;
    margin-bottom: -105px;
}
.game__line-29 {
    width: 202px;
    height: 25px;
    margin-bottom: -105px;
} 
.game__line-30 {
    width: 25px;
    height: 50px;
    margin-left: -16px;
    margin-bottom: -105px;
}
.game__line-31 {
    width: 17px;
    height: 25px;
    margin-bottom: -80px;
}
.game__line-32 {
    width: 25px;
    height: 50px;
    margin-bottom: -105px;
}
.game__line-33 {
    width: 85px;
    height: 25px;
    margin-bottom: -105px;
}
.game__line-34 {
    width: 25px;
    height: 50px;
    margin-left: -16px;
    margin-bottom: -105px;
}
.game__line-35 {
    width: 17px;
    height: 25px;
    margin-bottom: -80px;
}
.game__line-36 {
    width: 25px;
    height: 50px;
    margin-bottom: -105px;
}
.game__line-37 {
    width: 45px;
    height: 25px;
    margin-bottom: -105px;
}
/* конец 3 линии */
/* вниз */
.game__line-38 {
    width:25px;
    height: 150px;
    margin-bottom: -230px;
}
/* начало 4 линии */
.game__line-39 {
    width: 95px;
    height: 25px;
    margin-bottom: -230px;
    margin-left: 563px;
} 
.game__line-40 {
    width: 25px;
    height: 50px;
    margin-left: -120px;
    margin-bottom: -230px;
}
.game__line-41 {
    width: 40px;
    height: 25px;
    margin-bottom: -205px;
    margin-left: -65px;
}
.game__line-42 {
    width: 25px;
    height: 50px;
    margin-left: -65px;
    margin-bottom: -230px;
}
.game__line-43 {
    width: 256px;
    height: 25px;
    margin-bottom: -230px;
    margin-left: 217px;
}
.game__line-44 {
    width: 25px;
    height: 106px;
    margin-left: -256px;
    margin-bottom: -336px;
}
.game__line-45 {
    width: 70px;
    height: 25px;
    margin-bottom: -336px;
    margin-left: -95px;
}
.game__line-46 {
    width: 25px;
    height: 50px;
    margin-left: -90px;
    margin-bottom: -336px;
}
.game__line-47 {
    width: 40px;
    height: 25px;
    margin-left: -65px;
    margin-bottom: -311px;
}
.game__line-48 {
    width: 25px;
    height: 50px;
    margin-left: -65px;
    margin-bottom: -336px;
}
.game__line-49 {
    width: 62px;
    height: 25px;
    margin-left: -87px;
    margin-bottom: -336px;
}
.game >*:not(:first-child){
    visibility: hidden;
}

[class^="game__line"]:hover + [class^="game__line"],
[class^="game__line"]:hover {
	visibility: visible;
}
