@import url(reset.css);

/* ======================================================== */

/* Обращаюсь ко всем тегам с конкретными ID на странице */
#introduction-to-the-internet,
#how-the-internet-works-an-overview,
#basic-concepts-and-terminology,
#the-role-of-protocols-in-internet,
#understanding-ip-addresses-and-domain-names,
#introduction-to-http-and-https,
#building-applications-with-tcp-ip,
#securing-internet-communication-with-ssl-tls,
#the-future-emerging-trends-and-technologies,
#conclusion{
    /* color: red; */
}

/* Обращаюсь ко всем тегам с классом list на странице */
.list{
    color: goldenrod;
}
/* Не работает, потому что в тегах с классом list нет непосредственного контента,
а есть лишь дочерние теги (НЕ НАСЛЕДУЕТСЯ) 
селектор * перебивает свойства*/

/* Обращаюсь к тегам с классом text */
.text{
    color: teal;
}

/* Обращаюсь ко всем тегам Р на странице */
p{
    color: blueviolet;
}

/* Обращаюсь ко всем тегам на странице */
*{
    color: brown;
}

/* Обращаюсь ко всем тегам, у которых в значении атрибута
есть text */
[class*="text"]{
    color: peru;
}
/* перебил тег с классом text, т.к. ниже по коду*/

/* ============================================================= */
/* Комбинации селекторов */

/* Все Р с классом text */
p.text{
    color: green;
}

/* Все теги с классом text и quote одновременно 
и одновременно обращаюсь к SPAN*/
/* Без пробелов */
.text.quote,
span{
    color: rgb(44, 44, 44);
    font-weight: 700;
    font-size: large;
}

/* ================================================================= */
/* Каскадность/вложенность */

/* Все теги LI, которые находятся внутри объектов с классом list */
.list li{
    color: coral;
}

/* Все объекты с классом text, которые находятся внутри объектов с классом article */
.article .text{
    color: darkblue;
}

/* Все объекты, которые находятся внутри объектов с классом page-navigation */
.page-navigation *{
    color: violet;
}

/* Все теги LI первого уровня, которые находятся внутри объектов с классом list */
.list > li{
    color: orchid;
}


/* Все теги LI первого уровня, которые находятся внутри объектов с классом article
на первом уровне ТАКИХ НЕТ */
.article > li{
    color: tomato;
}

/* Все теги A первого уровня, которые находятся внутри объектов с классом logo */
.logo > a{
    color: indigo;
    font-size: 150%;
    font-weight: 800;
}

/* Все теги h2, которые находятся дальше по коду после объектов с классом article
и имеют тот же самый уровень вложенности */
.article ~ h2{
    color: green;
}

/* Все теги P, которые находятся непосредственно дальше по коду после объектов с классом article
и имеют тот же самый уровень вложенности */
.list + p{
    color: dodgerblue;
}

/* Флаг !important */
h1{
    color: fuchsia !important;
}
h1{
    color: black;
}