@import url("fonts.css");

@import url("reset.css");

@import url("common.css");

/* Merriweather */
/* Cormorant+Infant */
body{
    font-family: "Inter", sans-serif;
    color: #6d6d6d;
}
.wrapper{
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}
.wrapper > main{
    flex-grow: 1;
}
[class*="__container"]{
    max-width: 1200px;
    padding: 0  15px;
    margin: 0 auto;
}
.page{
    display: flex;
    flex-direction: column;
}

/* =====================================  HEADER  ======================================== */
.header {
    background-color: #FEFBF7;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 50;
}
.header__container {
    display: flex;
    align-items: center;
    gap: 20px;
    min-height: 100px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.header__logo {
    color: #000;
    font-family: "Merriweather", serif;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    flex-shrink: 0;
    position: relative;
    z-index: 5;
}
.menu {
    flex: 1 1 auto;
}
.menu__body {
}
.menu__list {
    display: flex;
    justify-content: center;
    column-gap: 36px;
    row-gap: 8px;
    flex-wrap: wrap;
}
.menu__item {
}
.menu__link {
    font-family: "Merriweather", serif;
    font-size: 20px;
    color: #000;
    transition: color 0.3s;
}
@media (any-hover: hover) {
    .menu__item:hover .menu__link{
        /* color: #D58417; */
        text-decoration: underline;
    }
}
.menu__item--active .menu__link{
    font-weight: 700;
    color: #D58417;
    text-decoration: underline;
}
.menu__item--parent {  
    position: relative;
}
.menu__item--parent .menu__link{
    display: flex;
    align-items: center;
    gap: 4px;
}
.menu__item--parent .menu__link::after {
    content: "";
    background: url("../img/sub-menu-arrow.png") 0 0 / contain no-repeat;
    flex: 0 0 16px;
    width: 16px;
    height: 8px;
    transition: transform 0.3s;
}
@media (any-hover: hover) {
    .menu__item--parent:hover .sub-menu{
        opacity: 1;
        transform: translate(0px, 0px);
        visibility: visible;
        pointer-events: all;
    }
    .menu__item--parent:hover .menu__link::after{
        transform: rotate(-180deg);
    }
}
.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    transform: translate(0px, 10%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    /* Управляет взаимодействием с мышью,
    не изменяя visibility */
    pointer-events: none;
}
.sub-menu__list {
    width: 200px;
    border-radius: 15px;
    padding: 15px;
    background-color: rgb(255, 147, 74, 0.15);
    /* background-color: rgb(255, 246, 241); */
    background-color: #FEFBF7;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}
.sub-menu__item {
}
.sub-menu__item:not(:last-child) {
    margin-bottom: 10px;
}
.sub-menu__link {
    font-family: "Merriweather", serif;
    color: #000 ;
    font-size: 18px;
}
@media (any-hover: hover) {
    .sub-menu__link:hover {
        text-decoration: underline;
    }
}
.header__actions {
}
.actions-header {
    display: flex;
	align-items: center;
	gap: 23px;
    flex-shrink: 0;
	position: relative;
	z-index: 5;
}
.actions-header__item {
	flex: 0 0 32px;
    width: 32px;
    height: 32px;
	position: relative;
	transition: transform 0.3s;
}

@media (any-hover: hover) {
	.actions-header__item:hover {
		transform: scale(1.1);
	}
}
.actions-header__item img {
	max-width: 100%;
}
.actions-header__item span {
	position: absolute;
	right: 0;
	top: 0;
	border-radius: 50%;
	background-color: #ff3333;
	width: 12px;
	height: 12px;
	color: #fff;
	font-size: 9px;
	text-align: center;
	line-height: 12px;
}
.icon-menu {
    display: none;
}
@media (max-width: 960px) {
    .header__container{
        min-height: 50px;
    }
    .menu__body{
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0;
        left: -100%;
        background-color: #FEFBF7;
        padding: 80px 15px 30px 15px;
        overflow: auto;
        transition: left 0.3s;
    }
    .menu__body::before{
        content: "";
        position: fixed;
        width: 100%;
        height: 50px;
        top: 0;
        left: 100%;
        z-index: 2;
        transition: left 0.3s;
        background-color: #FEFBF7;
        background-color: #f9eddd;
        /* background-color: rgb(255, 147, 74, 0.15); */
        border-radius: 0;

    }
    .menu-open .menu__body,
    .menu-open .menu__body::before{
        left: 0;
    }
    .menu__list{
        flex-direction: column;
        /* align-items: flex-end; */
        text-align: right;
        row-gap: 35px;
    }
    .menu__link{
        font-size: 24px;
    }
    .menu__item--parent .menu__link{
        /* justify-content: flex-end; */
        display: block;
    }
    .menu__item--parent .menu__link::after{
        display: none;
    }
    .sub-menu{
        position: relative;
        visibility: visible;
        opacity: 1;
        transform: translate(0px, 0px);
        padding-top: 25px;
    }
    .sub-menu__list{
        width: 100%;
        background-color: rgb(255, 147, 74, 0.15);
        box-shadow: none;
        /* border-radius: 0; */
    }
    .sub-menu__link{
        font-size: 22px;
    }
    .sub-menu__item:not(:last-child) {
        margin-bottom: 25px;
    }
    .icon-menu {
        display: block;
        flex: 0 0 30px;
        width: 30px;
        height: 18px;
        position: relative;
        z-index: 5;
    }
    .icon-menu::before,
    .icon-menu::after,
    .icon-menu span {
        content: "";
        height: 2px;
        width: 100%;
        position: absolute;
        left: 0;
        background-color: #000;
        transition: transform 0.3s;
    }
    .icon-menu::before {
        top: 0;
    }
    .icon-menu::after {
        bottom: 0;
    }
    .icon-menu span{
        top: 50%;
        margin-top: -1px;
    }
    .menu-open .icon-menu::before{
        transform: rotate(45deg);
        top: 50%;
        margin-top: -1px;
    }
    .menu-open .icon-menu::after{
        transform: rotate(-45deg);
        bottom: 50%;
        margin-bottom: -1px;
    }
    .menu-open .icon-menu span{
        transform: scale(0);
    }
}
@media (max-width: 440px){
    .header__container{
        gap: 10px;
    }
    .header__logo{
        font-size: 24px;
    }
    .actions-header{
        gap: 10px;
    }
}
/* ==============================  MAIN  =================================== */

.hero {
    background-color: #502203;
    padding: 200px 0px 55px;
    flex-grow: 1;
    display: flex;
    align-items: center;
    font-family: "Cormorant Infant", serif;
    color: #fff;
    font-weight: 600;
    position: relative;
}
.hero::before{
    content: "";
    position: absolute;
    top: 100px;
    left: -212px;
    width: 471px;
    height: 374px;
    background: url("../img/hero/vector-bg.svg") no-repeat;
    transform: rotate(-49.66deg);
}
.hero::after{
    content: "";
    position: absolute;
    top: 321px;
    right: -238px;
    width: 471px;
    height: 374px;
    background: url("../img/hero/vector-bg.svg") no-repeat;
    transform: rotate(-82.6deg);
}
.background__image {
    position: absolute;
    border: 1px solid #fff;
}
.background__image img{
    width: 100%;
}
.background__image--left {
    bottom: 5px;
    left: 35px;
    width: 240px;
    height: 215px;
    border-radius: 195px 195px 0 0;
}
.background__image--left img{
    border-radius: 195px 195px 0 0;
    margin-top: 5px;
    margin-left: 6px;
}
.background__image--right {
    bottom: 72px;
    right: -94px;
    width: 262px;
    height: 371px;
    border-radius: 215px;
    padding: 17px 12px;
}
.background__image--right img{
    border-radius: 215px;
    /* height: 100%;
    width: 100%; */
    /* width: 237.18px; */
    /* height: 336.92px; */
}
.hero__background {
}
.background__image {
}
.background__image--left {
}
.background__image--right {
}
.hero__container {
    display: flex;
    flex: 1 1 auto;
    align-items: flex-start;
    gap: 30px;
}
.hero__body {
}
.hero__body > *{
    margin-bottom: 9px;
}
.hero__title {
    font-weight: 700;
    font-size: 78px;
    line-height: 129%;
}
.hero__button {
    font-size: 24px;
    padding: 15px 25px;
    border: 1px solid #fff;
    border-radius: 4px;
    position: relative;
}
.hero__button::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 12px;
    left: -8px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.06);
    transition: all 0.3s;
}
@media (any-hover: hover) {
    .hero__button:hover::before{
        top: 0;
        left: 0;
    } 
}
.hero__body > *:last-child{
    margin-bottom: 0;
}
.hero__image {
    flex-basis: 36.752137%; /* 430/1170 */
    max-width: 430px;
    flex-shrink: 0;
    border-radius: 215px;
    padding: 20px;
    border: 1px solid #fff;
}
.hero__image img {
    border-radius: 215px;
    width: 100%;
}
.hero__content {
}
.content-hero {
    display: flex;
    align-self: stretch;
    flex-direction: column;
    gap: 20px;
}
.content-hero__text {
    font-size: 22px;
    font-weight: 700;
    line-height: 148%;
    flex-grow: 1;
}
.content-hero__item {
    font-size: 32px;
    line-height: 120%;
    /* margin-left: 10px; */
    margin-right: -34px;
    position: relative;
}
.content-hero__item::before {
    content: "";
    background-color: #fff;
    /* height: 78.125%; */ /* 60/76.8 */
    /* высота на 2 строчки 60px по макету,
    с учетом line-height: 120% */
    /* адаптивная высота, если добавится контент */
    height: calc(100% - (32px * 0.2625 * 2));
    width: 1px;
    position: absolute;
    left: -10px;
    top: 50%;
    transform: translateY(-50%);    
}
@media (max-width: 1265px) {
    .content-hero__item {
        margin-right: 0;
    }
}
@media (max-width: 1200px) {
    .hero__title{
        font-size: 64px;
    }
}
@media (max-width: 991.98px) {
    .page {
        padding: 150px 0px 40px;
    }
    .hero{
        padding: 20px 0;
    }
    .hero__container{
        flex-direction: column;
        gap: 40px;
        align-items: stretch;
    }
    .hero__body{
        text-align: center;
    }
    .hero__image{
        align-self: center;
    }
}
@media (max-width: 960px) {
    .page {
        padding: 90px 0px 40px;
    }
}
@media (max-width: 470px) {
    .hero__title{
        font-size: 46px;
    }
}
@media (min-width: 992px) {
    .hero__body {
        flex: 0 0 calc((100% - 36.752137% - 60px) / 2 );
        padding-top: 57px;
    } 
    .hero__content {
        flex: 0 0 calc((100% - 36.752137% - 60) / 2 );
        padding-top: 76px;
    }
    .content-hero__item {
        align-self: flex-end;
        margin-bottom: 183px;
    }
}
