@import url("fonts.css");

@import url("reset.css");

body{
    background-color: #d8d7d7;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #37393F;
}
footer{
    background-color: #37393F;
    color: #fff;
    text-align: center;
}
.container{
    max-width: 1220px;
    padding: 50px 15px;
    margin: 0 auto;
}
header .container {
    border-bottom: 1px solid #7D7D7D;
}
.title{
    font-weight: 700;
    font-size: 60px;
    line-height: 1.1;
    color: #37393F;
    text-transform: capitalize;
    text-align: center;
}
main .container{
    padding: 100px 15px;
}
.section{
    border: 1px solid #7D7D7D;
    border-radius: 20px;
    padding: 50px 20px 30px;
    font-size: 0;
}
.section:not(:last-child){
    margin-bottom: 100px;
}
.section:hover{
    background-color: #ebe6e6;
}
.icon-svg,
.content-svg,
.content-jpg{
    display: inline-block;
    vertical-align: top;
    margin-right: 70px;
    width: 70%;
}
.icon-svg img:first-child{
    padding-top: 2px;
}
.icon-svg img:nth-child(2),
.icon-svg img:nth-child(3){
    padding-top: 5px;
}
.icon-svg img:last-child{
    padding-top: 5px;
}
.icon-svg img:not(:last-child){
    margin-right: 25px;
    margin-bottom: 20px;
}

.text{
    display: inline-block;
    /* max-width: 300px  */
    width: 25%;
    font-size: 20px;
    line-height: 1.25;
    padding-left: 55px;
    margin-left: -55px;
}
.text p::before{
    content: "";
    display: inline-block;
    width: 30px;
    height: 4px;
    border-radius: 2px;
    background-color: #7D7D7D;
    vertical-align: middle;
    margin-right: 20px;
    margin-left: -55px;
}
.content-svg img{
    margin-right: 25px;
    margin-bottom: 20px;
}

.content-jpg img{
    max-width: 100%;
}
.round__item{
    display: inline-block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #40DDB6;
    margin-right: 25px;
    margin-bottom: 20px;
}
.round__item:nth-child(2){
    background-color: #6B77E5;
}
.round__item img{
    display: block;
    margin: 0 auto;
    padding: 7px 0;
}
.round__item:last-child img{
    padding-top: 12px;
}
.image:first-child{
    max-width: 1920px;
}
.image:nth-child(2){
    max-width: 408px;
}
.image:last-child{
    max-width: 868px
}
.image:not(:last-child){
    margin-right: 25px;
    margin-bottom: 20px;
}
.content-jpg img:not(:last-child){
    margin-right: 25px;
    margin-bottom: 20px;
}
.button{
    margin: 0 auto 30px;
    width: 120px;
    min-height: 40px;
    padding: 10px 0;
    background-color: #fff;
    color: #37393F;
    border-radius: 8px;
}
.button:hover{
   box-shadow: 7px 5px  rgb(28, 28, 29);
   background-color: #395abe;
    color: #fff;
}
.button p{
    text-align: center;
}
.button :active{
    text-decoration: underline;
}